{{!-- Utilizamos un partial para el diseño de las cards del home --}}

<div class="container">

        {{#each payload}}
            <div id="{{this.id}}" class="card">
                <h3>Title: {{this.title}}</h3>
                <p>Description: {{this.description}}</p>
                <p>Category: {{this.category}}</p>
                <p>Price: {{this.price}}</p>
                <div>
                    <img src="{{this.thumbnails}}" alt="{{this.title}}">
                </div>
                <div>
                    {{!-- aqui deberia poder permitir agregar cantidad --}}
                    <label for="quantity-{{this.id}}">Quantity:</label>
                    <input type="number" id="quantity-{{this.id}}" name="quantity" value="1" min="1">
                </div>
                <button class="btn btn-form add-to-cart" data-product-id="{{this.id}}">Add to Cart</button>
            </div>
        {{/each}}
</div>